body {
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
}
#title {
    color: solid black;
    text-shadow: 4px 4px 5px rgb(132, 129, 143);
    margin-bottom: 50px;
    margin-top: 30px;
    font-size: xxl;
}

li {
    margin: 2px
}